@model _4_04LogInsNew.Models.HomePageViewModel

<h1>Hello, welcome to my website!</h1>
<h4><a href="/account/signup">Sign up for a new account</a></h4>
<h4><a href="/account/login">Login to your account</a></h4>


